/* ---------------------------------------------------
    EXTRAS
----------------------------------------------------- */

/* ---------------------------------------------------
    OG sidear bottom line
----------------------------------------------------- */
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #CAEBF2;
}


/* ---------------------------------------------------
    RED BORDER
----------------------------------------------------- */
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;